


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




/* nav styles */
nav{
    display: flex;
}

/*header text */
.nav-title{
    font-weight: 800;
    font-size: 45px;;
}
/*middle text */
.primary-text{
    color: #FD6E0A;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav ul{
    display: flex;
    align-items: center;
    
}

nav ul li{
    list-style:none;
    margin-right: 51px;
    
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    padding: 19px 35px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border:none;
}

/* header*/

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* banner */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
    
}
.banner-content{
    max-width:580px;
    
}
.first-head{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
   
}
.first-head-big{
    font-weight: 800;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}
.paragraph-content{
    color: #757575;
    font-size: 18px;
}
.banner-pro-pic{
    width: 584px;
}
.secondary-bg{
    background-color: #FFF8F3;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

.about{
    padding: 131px 156px; 
    margin-top: 25px; 
}

.align-text{
    text-align: center;
}

.section-title{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
}

.section-description{
    padding: 15px;
    color: #757575;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #d4c2c2;
    font-size: 20px;
}
.skills-container{
    display: flex;
    gap:24px;
    margin-top: 50px;
}

.skill{
    padding: 30px 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  
}

.skill-title{
    font-size: 20px;
    font-weight: bold;
}
.skill-description{
    color:#757575;
    font-size: 16px;
}

/*portfolio*/

.resume-container{
    display: flex;
    gap:24px;

}

.section-title{
    font-weight: 800;
    font-size:35px;
    text-align: center;
    margin-bottom: 113px;
}
.column-title{
     font-weight: 800;
    font-size:30px;
    color:#474747;
}
.experience-title{
     font-weight: 800;
    font-size:25px;
    color:#474747;
}
.experience-sub-title{
    font-weight: 600;
    font-size:20px;
    color:#757575;
}
.experience-description{
    font-size:16px;
    color:#757575;
}

.resume hr{
    margin:30px 5px;
}

.text-center{
    text-align: center;
}

.resume-down-cont{
    margin-top: 50px;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}

.footer-column{
    width:50%;
}

footer input[type="text"],footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color:#FFFFFF;
    width: 100%;
    padding: 10px 20px;
    margin: 24px;
    border:none;
}

.btn-margin{
    margin: 24px;
}